@model SmsServer.Models.Race

@{
    ViewBag.Title = "Slet";
}

<h2>Slet</h2>

<h3>Vil du slette dette løb?</h3>
<div>
    <h4>Løbet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Løbs navn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slet" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage til oversigten", "Index")
        </div>
    }
</div>
