@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title.</h2>
<p>
    Sctrc er et frivilligt projekt startet af Thomas Grinderslev og David Fotel. Det er Non-profit, men vi høre gerne hvis du vil bruge det i en større sammenhæng.
</p>

<h2>Hvordan bruges systemet</h2>

<h3>Planlægning af løbet</h3>
<p>
    <ol>
        <li>Opret en konto hvis du ikke har en</li>
        <li>Installer android appen på din gateway telefon</li>
        <li>Opret et løb</li>
        <li>Udfyld informationer fra løbet i applicationen på telefonen. Nu er telefonen klar.</li>
        <li>Opret poster og deres svar muligheder. Husk at markere hvilken svarmulighed der er den korrekte.</li>
    </ol>
</p>

<h3>Før løbstart</h3>
<p>
    <ol>
        <li>Udskriv posterne og hæng dem op.</li>
        <li>Bed deltagerne om at oprette hold. Brug evt. qr koden på print poster siden. husk at ændre hold-id (skal være et tal) og hold navn</li>
        <li>Send deltagerne afsted.</li>
    </ol>
</p>

<h3>Efter løbet</h3>
<p>
    <ol>
        <li>Find vinderen og overræk præmier</li>
    </ol>
</p>

<h2>Hent koden</h2>

<p>
    Til de teknisk interresrede kan koden til projektet hentes på github: <a href="https://github.com/davsebamse/SmsServer">https://github.com/davsebamse/SmsServer</a><br />
    Koden til app'en kan findes her: <a href="https://github.com/davsebamse/SctrcGatewayPhone">https://github.com/davsebamse/SctrcGatewayPhone</a>
</p>