@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title.</h2>
<p>
    Sctrc er et frivilligt projekt startet af Thomas Grinderslev og David Fotel. Det er Non-profit, men vi høre gerne hvis du vil bruge det i en større sammenhæng.
</p>