@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<p>
    Kontakt os med alt hvad du vil sige til os. Vi er glade for alt input.
</p>

<address>
    <strong>David:</strong>   <a href="mailto:david@scoutrace.dk">david@scoutrace.dk</a><br />
</address>