@{
    ViewBag.Title = "Forsiden";
}

<div class="jumbotron">
    <h1>Scoutrace med SMS</h1>
    <p class="lead">Velkommen til denne nye side, hvor Scoutrace nu kan køre kun ved brug af en android app og sms.</p>
    <p>@Html.ActionLink("Læs mere", "About")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kom igang</h2>
        <p>
            Opret en konto her på siden og du er igang. Du kan så se oversigten over dine løb og oprette nye løb.
        </p>
        <p>Dog skal du første lige have en konto :-)</p>
        <p>Download android app'en her: <a class="btn btn-default" href="http://sctrc2.azurewebsites.net">App</a></p>
    </div>
    <div class="col-md-4">
        <h2>Det gamle scoutrace</h2>
        <p>Du kan stadig bruge det gamle scoutrace, tryk blot på linket.</p>
        <p><a class="btn btn-default" href="http://sctrc.azurewebsites.net">Det gamle scoutrace</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jeg har ingen android</h2>
        <p>Hvis du skal på løb og ikke har en android telefon, så kontakt os og vi finder en løsning.</p>
        <p>@Html.ActionLink("Kontakt", "Contact")</p>
    </div>
</div>