@model SmsServer.Models.Post

@{
    ViewBag.Title = "Slet post";
}

<h2>Slet post</h2>

<h3>Er du sikker på du vil slette denne post?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slet" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage til oversigten", "Index")
        </div>
    }
</div>
