
@{
    ViewBag.Title = "PlacePost";
}

<h2>PlacePost</h2>
<div class="row">
    <div class=".col-sm-8" id="mapid"></div>
    <div class=".col-sm-4" id="">
        <ul id="postlist">
        </ul>
    </div>
</div>

<div class="placePostInput">
    <strong>Vælg post og tryk på knappen</strong>
    @Html.DropDownList("postToPlace",(List<SelectListItem>)ViewBag.PostsSelectList,new { id="postToPlace"})
    <button class="btn btn-primary" onclick="sendPlacementDataToServer();">
        Placér
    </button>
</div>

<div class="showPostMarker">
    <strong class="posttitle"></strong></br>
    <a class="btn btn-primary" target="_blank" href="#">Rediger</a>
</div>


@section scripts {
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="~/Scripts/leaflet.polylineDecorator.min.js"></script>
<script>
    var raceid = @ViewBag.RaceId;
</script>
<script src="~/Scripts/PlacePosts.js"></script>
}
